{% extends "vorlagen/main.html" %}

{% block content %}
<div class="container-fluid py-5">
    <div class="row">
        <div class="col-12">
            <!-- Introduction -->
            <h1 class="mb-4">About Subash Sapkota</h1>
            <p class="lead">
                    I come from Kaski, Nepal, and I started my technology career with a specific goal in mind: to integrate the precision of software development with the strategic insights of business management.
            </p>

            <!-- Personal Journey -->
            <p>
                As I near the completion of my Bachelor's degree in Business Informatics at the University of Hildesheim, I've honed not just my technical skills in Python, Java, and SQL, but also my ability to apply these tools to solve business-centric challenges effectively.
            </p>

            <!-- Professional Skills -->
            <h2 class="mt-5">What I Bring to the Table</h2>
            <p>
                My proficiency in languages like German, English, and Nepali complements my technical toolkit, enabling me to thrive in diverse and dynamic professional environments. With advanced expertise in MS Office and a penchant for teamwork, I am well-equipped to navigate and contribute to the multifaceted world of technology and business operations.
            </p>

            <!-- Experience -->
            <h2 class="mt-5">Professional Experience</h2>
            <p>
                My time at Aldi Nord has ingrained in me a deep understanding of customer service and retail management. This role dovetailed beautifully with my internship at TOMTOM GmbH, where I took a deep dive into software development, crafting intuitive client-server applications and engaging user interfaces.
            </p>

            <!-- Projects and Problem-Solving -->
            <h2 class="mt-5">A Flair for Problem-Solving</h2>
            <p>
                Whether it's optimizing course allocations or streamlining banking processes, I've tackled diverse projects with a single goal - to deliver user-centric, technology-driven solutions. The Banking App and Course Allocation projects are testaments to my problem-solving capabilities and my commitment to impactful software development.
            </p>

            <!-- Vision -->
            <h2 class="mt-5">Looking Ahead</h2>
            <p>
                With a solid foundation laid down through my academic and professional endeavors, I'm poised to embark on the next phase of my journey. My goal is to join a forward-thinking company where I can contribute to developing innovative software solutions and grow as part of a dynamic team.
            </p>

            <!-- Call to Action -->
            <div class="my-5">
                <a href="./contact" class="btn btn-primary">Connect with Me</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
