{% extends "vorlagen/main.html" %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-4 text-center">Professional Experience</h1>

    <!-- Internship Experience -->
    <div class="experience-item mb-4">
        <h2 class="h4">Software Developer Intern</h2>
        <h3>TOMTOM GmbH (Aug. 2023 - Okt. 2023)</h3>
        <ul>
            <li>Developed client-server applications that enhanced the functionality and user experience of GPS navigation software.</li>
            <li>Designed and implemented user interfaces for client applications using GUI development tools.</li>
            <li>Collaborated on backend server development, improving data processing capabilities.</li>
            <li>Integrated HTTP request-response cycles into application architecture for efficient network communication.</li>
        </ul>
    </div>

    <!-- Work Experience -->
    <div class="experience-item mb-4">
        <h2 class="h4">Sales Associate</h2>
        <h3>Aldi Nord (Nov. 2022 - Present)</h3>
        <ul>
            <li>Provide high-quality customer service, enhancing customer satisfaction and fostering loyalty.</li>
            <li>Manage product presentation, ensuring a visually appealing and accessible display.</li>
            <li>Handle cashier duties with accuracy and efficiency.</li>
            <li>Conduct inventory control, overseeing stock levels and order fulfillment.</li>
        </ul>
    </div>

    <!-- Tutoring Experience -->
    <div class="experience-item mb-4">
        <h2 class="h4">Tutor</h2>
        <h3>Lekhnath Hostel, Kaski, Nepal (2015 - 2017)</h3>
        <ul>
            <li>Provided instruction in mathematics, English, and science, preparing students for competitive examinations.</li>
            <li>Supported students' academic development through personalized tutoring and mentorship.</li>
        </ul>
    </div>

</div>
{% endblock %}
