{% extends "vorlagen/main.html" %}

{% block content %}
<div class="jumbotron text-center bg-transparent mt-5">
    <img src="../static/img/photo.jpg" alt="image" class="img-fluid rounded-circle mb-4" style="height: 275px; width: 275px;">
    <h1 class="display-4">Subash Sapkota</h1>
    <p class="lead">Bridging Business and Technology</p>
    <hr class="my-4">
    <p>I am nearing the completion of my Business Informatics degree at the University of Hildesheim, equipped with a keen analytical mindset, proficient coding skills, and comprehensive business knowledge.</p>
    <a class="btn btn-primary btn-lg" href="./about" role="button">Learn More About Me</a>
</div>

<div class="row text-center">
    <div class="col-md-4 mb-3">
        <h2>Technological Proficiency</h2>
        <p>Skilled in Python, Java, SQL,SAP and with a solid foundation in front-end development using HTML, CSS, and Bootstrap.</p>
    </div>
    <div class="col-md-4 mb-3">
        <h2>Project Experience</h2>
        <p>From developing an Online Banking App to solving complex Course Allocation problems, check out my hands-on projects that solved real-world issues.</p>
        <a class="btn btn-secondary" href="./projects">View Projects</a>
    </div>
    <div class="col-md-4 mb-3">
        <h2>Business Acumen</h2>
        <p>My business insights, paired with tech know-how, prepare me to craft IT solutions that drive strategic business goals.</p>
    </div>
</div>

<div class="text-center mt-5">
    <p class="h3">"Combining technical know-how with strategic business acumen to innovate and solve problems."</p>
    <footer class="blockquote-footer">Subash Sapkota, aspiring IT professional</footer>
</div>
{% endblock %}
