{% extends "vorlagen/main.html" %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-4 text-center">My Projects</h1>

    <!-- Online-Banking-App -->
    <div class="project mb-5">
        <h2 class="h3">Online Banking App</h2>
        <p>Developed a comprehensive online banking application enabling users to manage their finances digitally. Key features include user registration, account overview, transaction management, and financial activity visualization. Utilizing Python and SQL for the backend and HTML, CSS, and Bootstrap for the frontend, the project emphasized user-friendly interface design and secure data processing.</p>
        <a href="https://github.com/Subash-sapkota/Banking" class="btn btn-outline-primary">View on GitHub</a>
    </div>

    <!-- Course Allocation Problem -->
    <div class="project mb-5">
        <h2 class="h3">Course Allocation Problem</h2>
        <p>An algorithm to efficiently and fairly distribute course seats, considering student preferences and course capacities. The solution, implemented in Python, aimed to maximize student satisfaction and optimal use of teaching resources, showcasing my analytical and problem-solving skills.</p>
        <a href="https://github.com/Subash-sapkota/CourseAllocationAlgorithmus" class="btn btn-outline-primary">View on GitHub</a>
    </div>

    <!-- Routing-App (Internship Project) -->
    <div class="project mb-5">
        <h2 class="h3">Routing App (Internship Project)</h2>
        <p>This project aimed to develop a routing app that allows users to input addresses and receive an optimized route. A custom-developed backend processed user requests, incorporating live traffic data from the NDS:live library into route calculations. The implementation of an intuitive GUI facilitated easy entry of start and destination addresses and displayed the calculated route, enhancing the user experience.</p>
        <p><em>Project details are available upon request.</em></p>
    </div>

</div>
{% endblock %}
